<% if flash[:notice] %>
  <p id="notice">
    <%= flash[:notice] %>
  </p>
<% end %>

<%= render 'books/new', book: @book_new %>

<% if @user == current_user %>
  <%= link_to "ユーザー情報編集", edit_user_path(current_user.id) %>
<% else %>
  <%= link_to "ユーザー情報編集", user_path(current_user.id) %>
<% end %>


<div>
  <p>name:<%= @user.name %></P>
  <p>introduction:<%= @user.introduction %></p>
  <%= image_tag @user.get_profile_image(100,100) %>
</div>


<% @books.each do |book| %>
<div>
  <p>投稿ユーザー画像：<%= image_tag book.user.get_profile_image(100,100) %></p>
  <%= link_to book_path(book.id) do %>
    <p>Title：<%= book.title %></p>
  <% end %>
    <p>Opinion：<%= book.body %></p>
</div>
<% end %>
