<% if @book_new.errors.any? %>
  <%= @book_new.errors.count %>件のエラーが発生しました
  <ul>
    <% @book_new.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= render 'new', book: @book_new %>

 <% @book_all.each do |book| %>
  <div>
    <%= link_to book_path(book.id) do %>
    <p>投稿ユーザー画像：<%= image_tag book.user.get_profile_image(100,100) %></p>
    <% end %>
    <p>Title：<%= book.title %></p>
    <p>Opinion：<%= book.body %></p>
    <p>ユーザーネーム：<%= book.user.name %></p>
  </div>
  <% end %>
