<div class="container">
  <div class="row">
    <div class="col-md-3">
      <% if flash[:notice] %>
        <p id="notice">
        <%= flash[:notice] %>
        </p>
      <% end %>

      <%= render 'new', book_new: @book_new, user: @book.user %>

    </div>
    <div class="col-md-8 offset-md-1">
      <h1>Book detail</h1>
      <table class="table table-hover">
        <tr><td>
        <%= link_to user_path(@book.user_id) do %>
        <%= image_tag @book.user.get_profile_image(100,100) %>
        <% end %>
        <%= link_to user_path(@book.user_id) do %>
          <%= @book.user.name %>
        <% end %>
        </td>
        <th>
        <%= link_to book_path(@book.id) do %>
          <%= @book.title %>
        <% end %>
        </th>
        <th><%= @book.body %></th>
        <% if @book.user == current_user %>
          <td><%= link_to "Edit", edit_book_path(@book), class: "btn btn-success" %></td>
          <td><%= link_to "Destroy", book_path(@book),"data-confirm" => "本当に削除しますか？", method: :delete, class: "btn btn-danger" %></td>
        <% end %>
        </tr>
      </table>
    </div>
  </div>
</div>
